<div class="hero-container">
  <h1 class="hero">highnet</h1>
</div>
<h2 class="content links">
  <a href="https://app.sandclock.org/"
    ><img
      class="logo sandclock"
      src="sandclock-mark.svg"
      alt="sandclock logo"
    /><span class="new">(new!)</span></a
  >
  |
  <a href="https://trmd3.com/"
    ><img class="logo trmd3" src="trmd3-mark.png" alt="trmd3 logo"
  /></a>
  |
  <a href="https://store.steampowered.com/app/1906070/Retro_Karting_22/"
    ><img class="logo rk22" src="rk22-mark.png" alt="rk22 logo"
  /></a>
  |
  <a href="https://store.steampowered.com/app/1067110/Idle_Chess_Story/"
    ><img class="logo ics" src="ics-mark.svg" alt="ics logo"
  /></a>
  |
  <a href="https://www.chillybitsnft.com/"
    ><img class="logo cb" src="cb-mark.png" alt="cb logo"
  /></a>
</h2>
<div class="cta">
  <button mat-raised-button (click)="goToCV()">CV</button>
  <a
    mat-raised-button
    href="https://github.com/highnet/highnet-cv"
    target="_blank"
  >
    <mat-icon>code</mat-icon>
    Source Code
  </a>
</div>
