.title,
.content {
  margin: 0;
  width: 100%;
}

.hero {
  font-size: 64px;
  letter-spacing: 6px;
  font-family: 'Pixelify Sans', sans-serif;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}

.new {
  color: orange;
  padding-left: 0.5rem;
}

@media (min-width: 768px) {
  .hero {
    font-size: 128px;
  }
}

object {
  width: 100%;
  margin-top: 20px;
  height: auto;
}

.cb {
  border-radius: 50%;
}

.links {
  margin-bottom: 24px;
}

.logo {
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
}
