<h1 class="hero"><a href="https://www.highnet.xyz">highnet</a></h1>
<h2 class="content links">
  <a href="https://example.com"
    ><img
      class="logo sandclock"
      src="sandclock-mark.svg"
      alt="sandclock logo"
    /><span class="new">(new!)</span></a
  >
  |
  <a href="https://example.com"
    ><img class="logo trmd3" src="trmd3-mark.png" alt="trmd3 logo"
  /></a>
  |
  <a href="https://example.com"
    ><img class="logo rk22" src="rk22-mark.png" alt="rk22 logo"
  /></a>
  |
  <a href="https://example.com"
    ><img class="logo ics" src="ics-mark.svg" alt="ics logo"
  /></a>
  |
  <a href="https://example.com"
    ><img class="logo cb" src="cb-mark.png" alt="cb logo"
  /></a>
</h2>

<button mat-raised-button (click)="goToCV()">CV</button>
