<h2>Hello!</h2>
<p class="about">
  I'm Joaquin Telleria (highnet), a passionate Front-end Developer with
  experience in building modern, responsive web applications and interactive
  experiences. I specialize in React, TypeScript, and Next.js, and have worked
  with a range of tools and technologies including TailwindCSS, GraphQL,
  Zustand, and blockchain integrations with Viem, Wagmi, and Ethers.js. I have
  contributed to decentralized finance (DeFi) applications, gaming projects, and
  open-source libraries, constantly seeking innovative ways to enhance user
  experiences.
</p>
<p class="about">
  Feel free to explore my portfolio to see some of the projects I've worked on.
  If you'd like to get in touch, you can find me on
  <a href="https://www.linkedin.com/in/joaquin-telleria-57957aa5/">LinkedIn</a>
  or <a href="https://github.com/highnet">GitHub</a>.
</p>
<object data="JT-CV-ENG.pdf" type="application/pdf" width="100%" height="600px">
  <p class="error">
    <mat-icon class="icon">error</mat-icon> Your browser does not support PDFs.
  </p>
  <button mat-raised-button (click)="downloadCV()">
    <mat-icon class="icon">download</mat-icon>Download CV
  </button>
</object>
